.site-header {
background-color:#1bbc9b;
color:#ffffff;
height=100vh;
width:100vw;
font-family:monospace;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  
}

body {
    background-color:#1bbc9b;
    margin:0;
}
.site-header {
    margin:10px;
}
.pro-pic {

    border-radius: 50%;
    width=100px;
    height: 250px;
    align-self:center;
    box-shadow: #25e5be 2px 5px 5px;
}
.site-link {
    color:#ecfdf9;

}